/build
/build_*
managed_components/
.vscode
output.txt
*.pyc
*.log
*.bin
*.elf
*.map
*.dmp
*.zip
*.tar.gz
*.tar
*.7z
*.bak
*.tmp
*.swp
.DS_Store

/releases

# Local secrets/config
scripts/config_secrets.py
